*.mo
composer.phar
config/autoload/*.local.php
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/
data/cache/
data/logs/
data/sessions/
data/tmp/
demos/
extras/documentation
temp/
vendor/
tests/_reports/

*.sw*
.data
.php_cs.cache
